#first {
    background-color: red;
}

#second {
    background-color: orange;
}

#third {
    background-color: green
}

#fourth {
    background-color: yellow
}

#fifth {
    background-color: blue;
}